* {
	box-sizing: border-box;
	margin: 0;
	padding: 20px 20px 0px 20px;
}

body {
	background-color: #cb92ff;
	font-family: 'PT Sans', sans-serif;
}
.container {
	display: flex;
	margin-top: 50px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.left {
	position: relative;
	display: inline-block;
	padding-top: 40px;
}

.floating-heading {
	position: absolute;
	top: 3%;
	left: 35%;
	transform: translate(-50%, -60%);
	z-index: 1;
	font-size: 90px;
	color: #e4ffa7;
	line-height: 90px;
}

img {
	width: 700px;
	height: 1000px;
}

.right {
	color: #fff;
}

.right p {
	font-size:20px;
}

.right strong {
	color: #e4ffa7;
	font-size: 45px;
}

.right h2 {
	font-family: 'PT Serif', serif;
	font-weight: 300;
	font-style: italic;
	font-size: 25px;
	transform: translate(-0%, -80%);
	
}
